In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd

fileName = "2017_Yearly_Overview_Med_Crisis_0.xlsx"
inputPath = "./drive/MyDrive/datasets/" + fileName
outputPath = "./drive/MyDrive/datasets/"
df = pd.read_excel(inputPath, sheet_name="Origin Nationalites ITA-GRC-ESP", header=5, names=None, index_col=None, usecols=[0,1,2,7])

df.head()

In [ ]:
df_ita = df.loc[df['ISO3 of Arrival'] == "ITA"]
df_esp = df.loc[df['ISO3 of Arrival'] == "ESP"]
df_grc = df.loc[df['ISO3 of Arrival'] == "GRC"]

In [ ]:
df_ita.head(20)

   Reported Date ISO3 of Origin  Cumulative arrivals ISO3 of Arrival
0     2017-01-31            CIV                  839             ITA
1     2017-01-31            GIN                  796             ITA
2     2017-01-31            NGA                  483             ITA
3     2017-01-31            SEN                  431             ITA
4     2017-01-31            GMB                  359             ITA
5     2017-01-31            MLI                  282             ITA
6     2017-01-31            MAR                  257             ITA
7     2017-01-31            BGD                  224             ITA
8     2017-01-31            IRQ                  131             ITA
9     2017-01-31            CMR                  117             ITA
10    2017-01-31            OOO                  548             ITA
11    2017-02-28            GIN                 2092             ITA
12    2017-02-28            NGA                 1687             ITA
13    2017-02-28            CIV                 1645             ITA
14    2017-02-28            BGD                 1303             ITA
15    2017-02-28            GMB                 1244             ITA
16    2017-02-28            SEN                 1215             ITA
17    2017-02-28            MAR                  977             ITA
18    2017-02-28            MLI                  645             ITA
19    2017-02-28            IRQ                  275             ITA

In [ ]:
df_esp.to_excel(outputPath+"Q4 2017 Arrivals_to_Europe - ESP.xlsx", sheet_name="ESP", index=None)
df_ita.to_excel(outputPath+"Q4 2017 Arrivals_to_Europe - ITA.xlsx", sheet_name="ITA", index=None)
df_grc.to_excel(outputPath+"Q4 2017 Arrivals_to_Europe - GRC.xlsx", sheet_name="GRC", index=None)

In [ ]:
df_ita['inflows'] = 0

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
df_ita.head()

  Reported Date ISO3 of Origin  Cumulative arrivals ISO3 of Arrival  inflows
0    2017-01-31            CIV                  839             ITA        0
1    2017-01-31            GIN                  796             ITA        0
2    2017-01-31            NGA                  483             ITA        0
3    2017-01-31            SEN                  431             ITA        0
4    2017-01-31            GMB                  359             ITA        0

In [ ]:
df['ISO3 of Origin'].unique()

array(['CIV', 'GIN', 'NGA', 'SEN', 'GMB', 'MLI', 'MAR', 'BGD', 'IRQ',
       'CMR', 'OOO', 'PAK', 'SOM', 'ERI', 'SDN', 'TUN', 'AFG', 'DZA',
       'AGO', 'BEN', 'BDI', 'COL', 'COD', 'DOM', 'EGY', 'ETH', 'GHA',
       'HTI', 'IRN', 'JAM', 'JOR', 'KWT', 'LBN', 'LBR', 'LBY', 'PSE',
       'ESH', 'SLE', 'LKA', 'SYR', 'TUR', 'YEM', 'ZWE', 'AZE', 'CUB',
       'UGA', 'BOL', 'GAB', 'IND', 'MWI', 'NPL', 'BFA', 'SWZ', 'TZA',
       'TCD', 'NER', 'COM', 'TGO', 'ALB', 'BRA', 'MRT', 'VEN', 'BIH',
       'ARG', 'DJI', 'IDN', 'KEN', 'PRY', 'SAU', 'CAF', 'PER', 'PHL',
       'ISR', 'RWA', 'PAN', 'GNB', 'COG', 'SSD', 'GNQ', 'MMR', 'ZAF',
       'MDG'], dtype=object)

In [ ]:
origin_list = set(df_ita['ISO3 of Origin'])
origin_list

{'BGD',
 'CIV',
 'CMR',
 'ERI',
 'GIN',
 'GMB',
 'IRQ',
 'MAR',
 'MLI',
 'NGA',
 'OOO',
 'PAK',
 'SDN',
 'SEN',
 'SOM',
 'TUN'}

In [ ]:
df_ita["inflows"] = 0

for origin in origin_list:
  
  cumulate = 0

  for index, row in df_ita.iterrows():

    if row[1] == origin:
      
      trueValue = row[2] - cumulate
      cumulate = row[2]
      df_ita.loc[index,"inflows"] = trueValue

df_ita.head(20)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

   Reported Date ISO3 of Origin  Cumulative arrivals ISO3 of Arrival  inflows
0     2017-01-31            CIV                  839             ITA      839
1     2017-01-31            GIN                  796             ITA      796
2     2017-01-31            NGA                  483             ITA      483
3     2017-01-31            SEN                  431             ITA      431
4     2017-01-31            GMB                  359             ITA      359
5     2017-01-31            MLI                  282             ITA      282
6     2017-01-31            MAR                  257             ITA      257
7     2017-01-31            BGD                  224             ITA      224
8     2017-01-31            IRQ                  131             ITA      131
9     2017-01-31            CMR                  117             ITA      117
10    2017-01-31            OOO                  548             ITA      548
11    2017-02-28            GIN                 2092             ITA     1296
12    2017-02-28            NGA                 1687             ITA     1204
13    2017-02-28            CIV                 1645             ITA      806
14    2017-02-28            BGD                 1303             ITA     1079
15    2017-02-28            GMB                 1244             ITA      885
16    2017-02-28            SEN                 1215             ITA      784
17    2017-02-28            MAR                  977             ITA      720
18    2017-02-28            MLI                  645             ITA      363
19    2017-02-28            IRQ                  275             ITA      144

In [ ]:
origins=set(df_ita["ISO3 of Origin"])

len(origins)
df_ita["inflows"] = 0

for origin in origins:
  cumulative = 0
  for index, row in df_ita.iterrows():
    if row[1]==origin:
      trueVal = row[2] - cumulative
      cumulative = row[2]
      df_ita.loc[index,"inflows"] = trueVal
df_ita.head(20)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

   Reported Date ISO3 of Origin  Cumulative arrivals ISO3 of Arrival  inflows
0     2017-01-31            CIV                  839             ITA      839
1     2017-01-31            GIN                  796             ITA      796
2     2017-01-31            NGA                  483             ITA      483
3     2017-01-31            SEN                  431             ITA      431
4     2017-01-31            GMB                  359             ITA      359
5     2017-01-31            MLI                  282             ITA      282
6     2017-01-31            MAR                  257             ITA      257
7     2017-01-31            BGD                  224             ITA      224
8     2017-01-31            IRQ                  131             ITA      131
9     2017-01-31            CMR                  117             ITA      117
10    2017-01-31            OOO                  548             ITA      548
11    2017-02-28            GIN                 2092             ITA     1296
12    2017-02-28            NGA                 1687             ITA     1204
13    2017-02-28            CIV                 1645             ITA      806
14    2017-02-28            BGD                 1303             ITA     1079
15    2017-02-28            GMB                 1244             ITA      885
16    2017-02-28            SEN                 1215             ITA      784
17    2017-02-28            MAR                  977             ITA      720
18    2017-02-28            MLI                  645             ITA      363
19    2017-02-28            IRQ                  275             ITA      144

In [ ]:
df_ita.to_excel(outputPath+"Q4 2017 Arrivals_to_Europe - ITA.xlsx", sheet_name="ITA", index=None)